<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="edutv.css">

    <title>EduTv</title>
  </head>
  <body>
    
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="images/Edutv-Logo.png" alt="" width="200" height="50" class="img">
              </a>
            </div>
          </nav>

          <div class="container-fluid p-5">
            <div class="row">
                <div class="col-md-4 header-matter">
                    <h5 class="fs-3">Ab <span class="fs-2 fw-bold" style="color:#318CE7;" >NEET</span> | <span class="fs-2 fw-bold" style="color:#318CE7;">JEE</span> ki Tayari<br>
                     <span class="fs-2 fw-bold" style="color:red;">TV</span> par 
                     <span class="fs-4 fw-bolder" style="color:#318CE7;">Aakash's BYJU'S</span> ki <br>
                     <span class="fs-4 fw-bold" style="color:red;">BEST FACULTY</span> ki sath <span style="background-color: grey; padding: 3px; color: white; border-radius: 50%;">@</span> 
                     <span class="fs-2 fw-bold" style="color:red;">$8.23</span> per day
                    </h5>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h6>To Subscribe Channel No. <span  class="fw-bolder fs-2" style="color: #318CE7;">467</span> <sub>for JEE & Foundation</sub> & <span class="fw-bolder fs-2" style="color: #318CE7;">478</span> <sub>for NEET</sub></h6>
                <h3 class="fw-light" style="color: red;">Give a miss call <br> 
                <h1 class="fw-bold" style="color: red;">9154052467</h1></h3>
              </div>
              <div class="col-md-4">
               <img src="images/eduheadernew.png" alt="headerimg" width="100%">
              </div>
              <div class="col-md-4">
                <div class="form-header mb-2 p-2">
                    <h2>TALK TO OUR EXPERT</h2>
                </div>
                
                <form action="/submitForm2" method="POST">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label for="nameInput" class="form-label">Name</label>
                    <input type="text" id="nameInput" name="name" class="form-control" placeholder="Enter your name" required />
                  </div>
                
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label for="emailInput" class="form-label">Email Address</label>
                    <input type="email" id="emailInput" name="email" class="form-control" placeholder="Enter your email address" required />
                  </div>
                
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label for="mobileInput" class="form-label">Mobile Number</label>
                    <input type="tel" id="mobileInput" name="mobileNumber" class="form-control" placeholder="Enter your mobile number" required />
                  </div>
                
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" id="passwordInput" name="password" class="form-control" placeholder="Enter your password" required />
                  </div>
                
                  <div class="mb-4">
                    <label for="classSelect" class="form-label">Select Class</label>
                    <select id="classSelect" name="class" class="form-select" required>
                      <option value="" selected disabled>Select Class</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="12-plus">12-plus</option>
                    </select>
                  </div>
                
                  <div class="mb-4">
                    <label for="centerSelect" class="form-label">Select Center</label>
                    <select id="centerSelect" name="center" class="form-select" required>
                      <option value="" selected disabled>Select Center</option>
                      <option value="Center 1">Center 1</option>
                      <option value="Center 2">Center 2</option>
                      <!-- Add additional center options as needed -->
                    </select>
                  </div>
                
                  <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                
                  <div class="mb-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="termsCheckbox" name="termsAgreement" required />
                      <label class="form-check-label" for="termsCheckbox">
                        By submitting, I agree to receive all the WhatsApp communication on my registered number and to Aakash's terms and conditions and privacy policy.
                      </label>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/Launching Banner.png" alt="Banner" srcset="" width="70%">
                </div>
            </div>
          </div>

          <div class="container m-5 p-4" style="background-color: #B9D9EB;" >
            <div class="row">
                <div class="col-md-12" style="width: 60%;">
                    <p>Aakash EduTV now available on the JioTV App and Airtel DTH Channel 467- JEE & 478- NEET. Learn and understand in-depth concepts to Crack JEE/NEET from the best experts of Aakash on your phone or TV.</p>
                </div>
            </div>
            <div class="row" style="width: 65%;" >
             <div class="col-md-6">
                <img src="images/jee-schedule-17-23june-2024.webp" alt="jee" srcset="">
             </div>
             <div class="col-md-6">
                <img src="images/neet-schedule-17-23june-2024.webp" alt="neet" srcset="">
             </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="fs-3" style="color: #318CE7;"><span class="fw-bold">Aakash EduTV:</span> High-Quality NEET and JEE content from Aakash now on your TV Screens!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>House of Aakash launches Aakash Edu TV on Airtel Digital TV- an initiative to reach every household In this wonderful collaboration of both the topnotch brands in their respective fields, we aim at providing high quality coaching sessions to students across India who are preparing for Medical and Engineering entrance exams - JEE and NEET.</p>
                </div>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/Channel available on banner.png" alt="ChannelBanner" srcset="" width="70%">
                </div>
            </div>
          </div>

          <div class="container mt-3" style="width: 70%;">
            <h3 style="color: #318CE7;" class="d-flex justify-content-center">What are We Offering?</h3>
            <div class="row d-flex justify-content-start">
                <div class="col-md-2">
                    <img src="images/live_lectures.png" alt="live_lectures" srcset=""><br>
                    <p>Live lectures by our best faculty</p>
                </div>
                <div class="col-md-2">
                    <img src="images/recorded_live.png" alt="recorded_live" srcset="">
                    <p>Recorded live lectures for revision</p>
                </div>
                <div class="col-md-2">
                    <img src="images/doubt_clearance_100.png" alt="doubt_clearance_100" srcset="">
                    <p>In Class Doubt Clearance through Whatsapp</p>
                </div>
                <div class="col-md-2">
                    <img src="images/motivation_lecture.png" alt="motivation_lecture" srcset="">
                    <p>Motivation lectures</p>
                </div>
                <div class="col-md-2">
                    <img src="images/NEET_JEE.png" alt="NEET_JEE" srcset="">
                    <p>NEET and JEE – Tips and Tricks</p>
                </div>
                <div class="col-md-2">
                    <img src="images/previous_paper.png" alt="previous_paper" srcset="">
                    <p>Previous paper discussions</p>
                </div>
            </div>
            <div class="table-heading text-center m-3 p-3">
                <h3>Available at Nominal Pricing</h3>
            </div>
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Channel</th>
                    <th scope="col">Channel No</th>
                    <th scope="col">1 day</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>JEE + Foundations</td>
                    <td>467</td>
                  </tr>
                  <tr class="text-center">
                    <td>NEET</td>
                    <td>478</td> 
                    <td rowspan="2" class="">8.23</td>
                  </tr>
        
                </tbody>
              </table>
           <div class="container m-3 p-5">
            <p class="fs-6 fw-bold" style="color: #318CE7;">For Existing Airtel DTH user &nbsp;<button type="button" class="btn btn-danger">Click here to Subscribe</button> New to Airtel DTH &nbsp;<button type="button" class="btn btn-outline-danger">Know more</button></p>

            <p class="fs-6 fw-bold mt-3" style="color: #318CE7;">Limited Time Offer! Subscribe Today and Get 5 days Trial Classes Free! <button type="button" class="btn btn-danger">9154052467</button></p>
           </div>
        </div>
     <div class="container card p-3" style="width: 70%;">
      <h2 class="p-2"><span class="fw-bold">Master Classes</span> for NEET by Expert Aakash Faculty</h2>
       <div class="row  row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="images/resp.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on Glycolysis & Aerobic Respiration-Kreb's Cycle - Repeater Botany | NEET
                </p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="images/hydrocarb.jpg" class="card-img-top" alt="Palm Springs Road"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on Alkenes & Alkynes -Repeater Chemistry | NEET
                </p>
              </div>
            </div>
        </div>
          <div class="col">
            <div class="card h-100">
              <img src="images/currelect.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on microscopic Properties of Current - Repeater Physics | NEET  
                </p>
              </div>
            </div>
          </div>
          </div>
       </div>

     </div>

     <div class="container card p-3" style="width: 70%;">
      <h2 class="p-2"><span class="fw-bold">Master Classes</span> for JEE by Expert Aakash Faculty</h2>
      <div class="row  row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="images/wave.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on standing,reflected & transmitted wave - Class 11 Physics | JEE
                </p>
              </div>
            </div>
        </div>
          <div class="col">
            <div class="card h-100">
              <img src="images/genorg.jpg" class="card-img-top" alt="Palm Springs Road"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on Reaction Intermediates & Types of Organic Reactions - Repeater Chemistry | JEE
                </p>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card h-100">
              <img src="images/statistics.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
              <div class="card-body">
                <p class="card-text">
                  Discussion on Measure of dispersion, Mean,median - Class 11 Math | JEE  
                </p>
              </div>
            </div>
           </div>
          </div>
      </div>
     </div>

     <div class="container card p-3" style="width: 70%;">
      <h2 class="p-2"><span class="fw-bold">Aakash Paathshala - </span>India's First Career Counselling on TV</h2>
     <div class="row  row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="images/ep1.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
              <div class="card-body">
                <p class="card-text">
                  Career prospects after class 10th - Episode 1
                </p>
              </div>
            </div>
        </div>
      <div class="col">
            <div class="card h-100">
              <img src="images/ep2.png" class="card-img-top" alt="Palm Springs Road"/>
              <div class="card-body">
                <p class="card-text">
                  How to score 250+ in JEE? - Episode 2
                </p>
              </div>
            </div>
      </div>
      <div class="col">
            <div class="card h-100">
              <img src="images/ep3.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
              <div class="card-body">
                <p class="card-text">
                  How to score 600+ in NEET 2021? - Episode 3 
                </p>
              </div>
            </div>
      </div>
          </div>
     </div>
     
     <div class="container card p-3" style="width: 70%;">
      <h2 class="p-2"><span class="fw-bold">Aakash EduTv - </span>Role & Importance of NCERT in NEET</h2>
     <div class="row  row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="images/neet-physics.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
              <div class="card-body">
                <p class="card-text">
                  Importance of NCERT for NEET Physics
                </p>
              </div>
            </div>
        </div>
      <div class="col">
            <div class="card h-100">
              <img src="images/neet-chemistry.png" class="card-img-top" alt="Palm Springs Road"/>
              <div class="card-body">
                <p class="card-text">
                  Importance of NCERT for NEET Chemistry
                </p>
              </div>
            </div>
      </div>
          </div>
     </div>
     
     <div class="container-fluid p-5 bg-dark">
      <div class="top-footer container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
        <img src="images/logo.png" alt="logo">
        <div class="icons">
          <h5 class="text-white">Follow us:</h5>
          <a class="btn text-white" data-mdb-ripple-init style="background-color: #3b5998;" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #55acee;" href="#!" role="button">
<i class="fab fa-twitter"></i>
</a>
<a class="btn text-white" data-mdb-ripple-init style="background-color: #ed302f;" href="#!" role="button">
<i class="fab fa-youtube"></i>
</a>
<a class="btn text-white" data-mdb-ripple-init style="background-color: #ac2bac;" href="#!" role="button">
<i class="fab fa-instagram"></i>
</a>
<a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;" href="#!" role="button">
<i class="fab fa-linkedin-in"></i>
</a>
          </div>
        </div>
      <div class="col">
        <div class="address text-white">
          <h5>Aakash Educational Services Limited <br>
            Registered office Address:</h5>
            <p>
              No. 5/2, 2nd Floor, Kundanahalli Gate, Varthur Road,Opposite SKR Kalyana Mandapa Whitefield, Bengaluru 560037 CIN: U80300KA2007PLC150057 Telephone: +91-11-47623456Fax: +91-11-47623472Email: corporate@aesl.in
            </p>
        </div>
      </div>
        </div>
        <hr>
      </div>
         <div class="footer-content">
          <div class="row row-cols-1 row-cols-md-4 g-4 text-white ">
            <div class="col">
              <h6>ABOUT US</h6>
              <ul>
                <a href=""><li>About Aakash</li></a>
                <a href=""><li>Why Aakash</li></a>
                <a href=""><li>Aakash Methodlogy & Concept</li></a>
                <a href=""><li>Aakash in Media</li></a>
                <a href=""><li>Aakash Nationalwide centers</li></a>
                <a href=""><li>Franchise Information</li></a>
                <a href=""><li>Investor Corner</li></a>
              </ul>
            </div>
            <div class="col">
              <h6>COURSES & SCHOLARSHIPS</h6>
              <ul>
                <a href=""><li>Classroom Courses at Aakash</li></a>
                <a href=""><li>Aakash Digital</li></a>
                <a href=""><li>Aakash Distal Learing Program Courses</li></a>
                <a href=""><li>Aakash National Talent Hunt Exam(ANTHE)</li></a>
                <a href=""><li>Admission Cum Scholarship Test(ACST)</li></a>
                <a href=""><li>Various Scholarships At Aakash</li></a>
              </ul>
            </div>
            <div class="col">
              <h6>NEET</h6>
              <ul>
                <a href=""><li>NEET Exam 2024</li></a>
                <a href=""><li>NEET 2024 Exam Dates</li></a>
                <a href=""><li>NEET Previous Year Question Paper</li></a> 
                <a href=""><li>NEET 2024 Admit Card</li></a>
                <a href=""><li>NEET 2024 Result</li></a>
                <a href=""><li>NEET 2024 CutOff</li></a>
                <a href=""><li>NEET Crash Courses</li></a>
                <a href=""><li>NEET 2024 Eligibilty Criteria</li></a>
                <a href=""><li>NEET 2024 Syllabus</li></a>
                <a href=""><li>NEET 2024 Counselling</li></a>
                <a href=""><li>NEET Rank Predictor 2024</li></a>
                <a href=""><li>NEET College Predictor 2024</li></a>
              </ul>
            </div>
            <div class="col">
              <h6>JEE</h6>
                <ul>
                  <a href="#"><li>JEE MAIN 2024</li></a>
                  <a href="#"><li>JEE MAIN College Predictor 2024</li></a>
                  <a href="#"><li>JEE MAIN Rank Predictor 2024</li></a>
                  <a href="#"><li>JEE MAIN 2024 Mock Tests</li></a>
                  <a href="#"><li>JEE MAIN 2024 Answer Key Solutions</li></a>
                  <a href="#"><li>JEE MAIN Previous Year Question Papers</li></a>
                  <a href="#"><li>JEE MAIN 2024 Exam Date</li></a>
                  <a href="#"><li>JEE MAIN 2024 Result</li></a>
                  <a href="#"><li>JEE MAIN 2024 Admit Card</li></a>
                  <a href="#"><li>JEE MAIN 2024 CutOff</li></a>
                  <a href="#"><li>JEE MAIN 2024 Eligibilty Criteria</li></a>
                  <a href="#"><li>JEE MAIN 2024 Counselling</li></a>
                </ul>
              </h6>
            </div>
            <div class="col">
              <h6>JEE ADVANCED</h6>
              <ul>
              <a href="#"><li>Jee Advanced 2024</li></a>
              <a href="#"><li>Jee Advanced 2024 Syllabus</li></a>
              <a href="#"><li>Jee Advanced 2024 Eligibilty Criteria</li></a>
              <a href="#"><li>Jee Advanced 2024 Results</li></a>
              <a href="#"><li>Jee Previous Year Question Papers</li></a>
              </ul>
            </div>
            <div class="col">
              <h6>BOARD EXAMS</h6>
              <ul>
              <a href="#"><li>CBSE</li></a>
              <a href="#"><li>ICSE</li></a>
            </ul>
            </div>
            <div class="col">
              <h6>NCERT</h6>
              <ul>
              <a href="#"><li>NCERT Solutions</li></a>
              <a href="#"><li>NCERT Solutions for Class 6</li></a>
              <a href="#"><li>NCERT Solutions for Class 7</li></a>
              <a href="#"><li>NCERT Solutions for Class 8</li></a>
              <a href="#"><li>NCERT Solutions for Class 9</li></a>
              <a href="#"><li>NCERT Solutions for Class 10</li></a>
              <a href="#"><li>NCERT Solutions for Class 11</li></a>
              <a href="#"><li>NCERT Solutions for Class 12</li></a>
              <a href="#"><li>NCERT Class 10 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 10 Science Solutions</li></a>
              <a href="#"><li>NCERT Class 11 Biology Solutions</li></a>
              <a href="#"><li>NCERT Class 11 Chemistry Solutions</li></a>
              <a href="#"><li>NCERT Class 11 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 11 Physics Solutions</li></a>
              <a href="#"><li>NCERT Class 12 Biology Solutions</li></a>
              <a href="#"><li>NCERT Class 12 Chemistry Solutions</li></a>
              <a href="#"><li>NCERT Class 12 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 12 Physics Solutions</li></a>
              <a href="#"><li>NCERT Class 6 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 6 Science Solutions</li></a>
              <a href="#"><li>NCERT Class 7 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 7 Science Solutions</li></a>
              <a href="#"><li>NCERT Class 8 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 8 Science Solutions</li></a>
              <a href="#"><li>NCERT Class 9 Maths Solutions</li></a>
              <a href="#"><li>NCERT Class 9 Science Solutions</li></a>
            </ul>
            </div>
            <div class="col">
              <h6>TEXT BOOK SOLUTIONS</h6>
              <ul>
              <a href="#"><li>Book Solutions</li></a>
              <a href="#"><li>RD Sharma Solutions</li></a>
              <a href="#"><li>RS Agarwal Solutions</li></a>
              <a href="#"><li>HC VermaSolutions</li></a>
              <a href="#"><li>lakhmir Singh Solutions</li></a>
              </ul>
            </div>
            <div class="col">
              <h6>OUR IMPORTANT CONCEPTS</h6>
              <ul>
              <a href="#"><li>Maths Concepts</li></a>
              <a href="#"><li>Physics Concepts</li></a>
              <a href="#"><li>Biology Concepts</li></a>
              <a href="#"><li>Chemistry Concepts</li></a>
              </ul>
            </div>
            <div class="col">
             <h6>STUDENT AREA</h6>
             <ul>
             <a href="#"><li>Aakash Results</li></a>
             <a href="#"><li>Aakash Answers</li></a>
             <a href="#"><li>Admission At Aakash</li></a>
             <a href="#"><li>Aakash Institute Fee Structure</li></a>
             <a href="#"><li>Award & Prize Scheme at Aakash</li></a>
             <a href="#"><li>Top Engineering in India</li></a>
             <a href="#"><li>Top Medical Colleges</li></a>
             <a href="#"><li>DLP Dispatch & AIATS Schedules</li></a>
             <a href="#"><li>Olympiads, NTSC Planner</li></a>
             <a href="#"><li>Olympiads Gateway to Global Recognition</li></a>
             <a href="#"><li>CUET Exam 2024</li></a>
             <a href="#"><li>CUET Admit Card 2024</li></a>
             <a href="#"><li>CUET Cut Off 2024</li></a>
             <a href="#"><li>CUET Result 2024</li></a>
             <a href="#"><li>CUET Answer Key 2024</li></a>
             </ul>
            </div>
            <div class="col">
              <h6>OTHERS</h6>
              <ul>
                <a href="#"><li>Aakash Advantage</li></a>
                <a href="#"><li>Aakash Centeres</li></a>
                <a href="#"><li>Admission Enquiry</li></a>
                <a href="#"><li>Career @ Aakash</li></a>
                <a href="#"><li>PG Career @ Aakash</li></a>
                <a href="#"><li>FAQs</li></a>
                <a href="#"><li>Franchise Enquiry</li></a>
                <a href="#"><li>Centers Gallery</li></a>
                <a href="#"><li>Aakash Blog</li></a>
                <a href="#"><li>Aakash Alumni</li></a>
                <a href="#"><li>Mock Test JEE(Main)</li></a>
                <a href="#"><li>Centers</li></a>
                <a href="#"><li>Rajasthan govt.guidelines 2022</li></a>
                <a href="#"><li>Rajasthan govt.guidelines 2023</li></a>
              </ul>
            </div>
          </div>
         </div>
    </div>

        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
  </body>
</html>