*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left{
    background-color: #0CAFFF;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 70px;
    width: 130px;
}
